* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {      
      font-family: 'Inter', sans-serif;
      background: linear-gradient(to right, #111111, #1c1c1c);
      color: white;
      height: 100vh;
      padding: 40px;
      position: relative;
    }

    header,
    header a {
      display: flex;
      justify-content: space-between;
      font-size: 0.85rem;
      color: #888;
      margin-bottom: 80px;
      text-decoration: none;
    }

    .container {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .left {
      max-width: 600px;
    }

    .left p.top {
      font-size: 1.6rem;
      color: #999;
      line-height: 1.4;
      margin-bottom: 20px;
    }

    .left h1 {
      font-size: 4rem;
      font-weight: 700;
      line-height: 1.1;
      color: white;
    }

    .right {
      max-width: 400px;
      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    .card {
      background: rgba(255, 255, 255, 0.05);
      border: 1px solid rgba(255, 255, 255, 0.08);
      border-radius: 12px;
      padding: 20px;
      backdrop-filter: blur(4px);
    }

    .card-title {
      font-size: 1rem;
      margin-bottom: 15px;
      color: #ccc;                  
    }

    .card a {
      display: block;      
      background: linear-gradient(to right, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.1) 100%);
      color: white;
      border-radius: 8px;
      padding: 10px;
      margin-bottom: 10px;
      font-size: 0.95rem;      
      text-decoration: none;

      background-size: 200% 100%;
      background-position: left center;
      transition: background-position 0.4s ease;      
    }

    .card a:hover {
      background-position: right center;
    }

    .desc {
      font-size: 1rem;
      color: #aaa;
      margin-top: 20px;
    }

    .desc strong {
      color: white;
    }

    footer {
      position: absolute;
      bottom: 30px;
      left: 40px;
      font-size: 0.8rem;
      color: #aaa;
    }

    .autor {
      position: absolute;
      top: 20%;
      font-size: 0.8rem;
      color: #aaa;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    .autor a {
      text-decoration: none;
      font-size: 16px;
      margin-bottom: 10px;
    } 
    
    .iconHome {
      font-size: 24px; 
    }

    .telas-wrapper {
        overflow: hidden;
        width: 50%;
        height: 500px;
        margin-top: 30px;
        border-radius: 12px;
        background: #1b1b1b;
        position: relative;
    }

    .telas {
        display: flex;
        width: 100%;
        transition: transform 0.6s ease;
    }

    .tela {
        width: 100%;
        flex-shrink: 0;
        padding: 40px;
        font-size: 1.2rem;
    }

    #formCadastro {
        display: flex;        
        flex-direction: column;
        width: 50%;
    }    

    #formCadastro input,
    #formCadastro select {
        border: none;
        outline: none;
        padding: 10px;
        border-radius: 8px;
        margin-bottom: 15px;
        background: rgba(255, 255, 255, 0.05);
        color: #ccc;
        width: 125%;
    }
    
    .motivo-crm {
        display: flex;
        justify-content: space-between;
        width: 125%;
    }    

    #formCadastro label {
        color: #ccc;
        font-size: 14px;
        margin-top: 8px;
    }

    .btn-gravar {
      background: linear-gradient(to right, rgba(2, 255, 120, 0.568) 75%, rgba(255, 255, 255, 0.644) 100%);
      color: white;
      border-radius: 8px;
      border: none;
      padding: 10px;      
      font-size: 0.95rem;            
      background-size: 200% 100%;
      background-position: left center;
      transition: background-position 0.4s ease;
      width: 125%;
    }

    .btn-gravar:hover {
        background-position: right center;
    }

    #list li{
        border: none;
        outline: none;
        padding: 10px;
        border-radius: 8px;
        margin-bottom: 15px;
        background: rgba(255, 255, 255, 0.05);
        color: #ccc;
        font-size: 14px;
    }

    #list button {
        border: none;
        outline: none;
        padding: 10px;
        border-radius: 8px;
        margin-right: 5px;                
    }

    #list button:hover {
        border: 1px solid gray;
    }

    .social-card {
      display: flex;
      align-items: center;
      gap: 2rem;
      background: rgba(255, 255, 255, 0.05);
      border-radius: 20px;
      padding: 2rem;
      backdrop-filter: blur(12px);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
      width: fit-content;
      margin: 2rem;
    }

    .github-card {
      display: flex;
      align-items: center;
      background: linear-gradient(135deg, #2c2c2e, #1f1f21);
      border-radius: 20px;
      padding: 1.2rem;
      gap: 1rem;
    }

    .github-card img {
      width: 50px;
      height: 50px;
      filter: brightness(0.9);
    }

    .github-info h3 {
      margin: 0;
      font-size: 1.1rem;
    }

    .github-info p {
      margin: 0;
      font-size: 0.9rem;
      color: #ccc;
    }

    .social-icons {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .icon img {
      width: 42px;
      height: 42px;
      border-radius: 12px;
      padding: 5px;
      background: rgba(255, 255, 255, 0.1);
      transition: transform 0.2s ease;
    }

    .icon:hover img {
      transform: scale(1.1);
    }

    .linkedin img {
      background: linear-gradient(to right, #0077b5, #0e76a8);
    }

    .instagram img {
      background: linear-gradient(to right, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
    }

    .filter {          
      display: flex;
      justify-content: right;
      margin-bottom: 10px;
    }

    .filter button {
      border: none;
      border-radius: 12px;
      padding: 10px;                        
    }

    @media (max-width: 768px) {
      .container {
        flex-direction: column;
        align-items: flex-start;
      }

      .right {
        margin-top: 40px;
      }

      .left h1 {
        font-size: 3rem;
      }
    }